<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
	  <a class="navbar-brand ms-3" href="#">
		  <i class="bi bi-person-fill"></i>
		  {{ request.user.username }}
	  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link ms-3" aria-current="page" href="#">
			  <i class="bi bi-list-task"></i>
			  Tareas Usuarios
		  </a>
        </li>
        <li class="nav-item">
			<a class="nav-link position-absolute end-0 me-4" title="Cerrar Sesión" href="{% url 'usuarios:logout' %}">
				<i class="bi bi-x-circle"></i>
			</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
